@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix Image Sizing */
img,
svg,
video {
    max-width: 100%;
    display: block;
}

/* Smooth Scrolling */
html:focus-within {
    scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Content Styling */

/*
    Color Scheme & Typography

    Theme - Light & Dark Theme based on system preferences

    Typography - 2 Font families

    Font Sizes -
    Step 0: 18px → 20px
    --fs-400: 22.5px → 26.66px
    --fs-500: 28.125px → 35.5378px
    --fs-600: 35.1563px → 47.3719px
    --fs-700: 43.9453px → 63.1467px
    --fs-800: 54.9316px → 84.1745px
*/

:root {
    --clr-text: hsl(300, 61%, 5%);
    --clr-body: hsl(300, 61%, 10%);
    --clr-background: hsl(300, 60%, 94%);
    --clr-primary: hsl(302, 62%, 29%);
    --clr-secondary: hsl(1, 62%, 69%);
    --clr-accent: hsl(18, 61%, 45%);
    /* Typography */
    --ff-base: "Inter", sans-serif;
    --ff-accent: "Syne", sans-serif;

    /*  Font sizes */
    --fs-300: clamp(1.125rem, 1.1rem + 0.125vi, 1.25rem);
    --fs-400: clamp(1.4063rem, 1.3543rem + 0.26vi, 1.6663rem);
    --fs-500: clamp(1.7578rem, 1.6652rem + 0.4633vi, 2.2211rem);
    --fs-600: clamp(2.1973rem, 2.0446rem + 0.7635vi, 2.9607rem);
    --fs-700: clamp(2.7466rem, 2.5066rem + 1.2001vi, 3.9467rem);
    --fs-800: clamp(3.4332rem, 3.0677rem + 1.8277vi, 5.2609rem);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
        --clr-text: hsl(300, 81%, 90%);
        --clr-textbox: hsl(300, 61%, 10%);
        --clr-body: hsl(300, 21%, 80%);
        --clr-background: hsl(300, 60%, 6%);
        --clr-primary: hsl(302, 62%, 71%);
        --clr-secondary: hsl(1, 62%, 31%);
        --clr-accent: hsl(18, 61%, 55%);
    }
}

/* Light & Dark theme based on system prefrences */
html {
    color-scheme: light dark;
}

/* Body Styling - Colors, Text & Fonts */
body {
    color: var(--clr-body);
    background-color: var(--clr-background);
    font-family: var(--ff-base);
    font-size: var(--fs-300);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}

/* Heading Tags Styles */
h1,
h2,
h3 {
    font-family: var(--ff-accent);
    color: var(--clr-text);
    /* text-wrap: balance; */
}

h1 {
    font-size: var(--fs-600);
    color: var(--clr-primary);
}

h2 {
    font-size: var(--fs-600);
}

h3 {
    font-size: var(--fs-500);
}

h4 {
    font-size: var(--fs-400);
}

a {
    color: var(--clr-accent);
}

::marker {
    color: var(--clr-accent);
}

/* Content Wrapper */
.content-wrapper {
    --default-padding: 3rem;
    width: min(80ch, 100% - var(--default-padding, 2rem));
    margin-inline: auto;
}

/* Flow Spacing */
.flow> :where(:not(:first-child)) {
    margin-top: var(--flow-space, 1em);
}

/* Flow Spacing for Specific tags */
h1 {
    --flow-space: 2em;
}

h2 {
    --flow-space: 1.5em;
}

h3 {
    --flow-space: 1.25em;
}

.textbox {
    padding: 20px;
    border: 1px solid var(--clr-primary);
    border-radius: 16px;
    background-color: var(--clr-textbox);
}

.lookup-textbox,
typing-textbox {
    width: 800px;
    height: 450px;
}

.lookup-textbox p,
.typing-textbox p {
    font-size: var(--fs-300);
    font-weight: bold;
    color: lightslategray;
}

.lookup-textbox {
    background-color: var(--clr-textbox);
}

.typing-textbox {
    background-color: transparent;
}

.cursor {
    width: 1ch;
    opacity: 0.25;
    height: var(--fs-400);
    background: var(--clr-text);
}

.overlay {
    top: 0;
    position: absolute;
}

.typed-text {
    opacity: 0.4;
    color: green;
    background: var(--clr-secondary);
}
